.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.4);
}
.loader {
  min-width: 20%;
  text-align: center;
  margin: 0 auto 0;
  display: inline-block;
  vertical-align: top;
}
svg path,
svg rect {
  fill: blue;
}